name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  OTP_VERSION: "28.3"
  ELIXIR_VERSION: "1.19"

jobs:
  format:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}

      - name: Check formatting
        run: mix format --check-formatted
